/* [class*=col]{
    min-height: 100px;
    background-color: blueviolet;
    border: 3px solid black;
}   */

/* jumbotron */
#jumbotron {
    background-color: #09cd9d;
}

#jumbo {
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jumbo img{
    max-width: 100%;
    height: 350px;
    margin: 20px 0;
}

#jumbotron h1 {
    color: white;
}

#jumbotron h6 {
    color:white;
}

.line-star-white {
    display: flex;
    align-items: center;
}

.line-star-white div {
    height: 5px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    margin: 30px 10px;
}

.line-star-white i {
    color: white;
    font-size: 2em;
}



/* portfolio */
#start-sezione {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.line-star-blu {
    display: flex;
    align-items: center;
}

.line-star-blu div {
    height: 5px;
    width: 100px;
    background-color: #21353f;
    border-radius: 10px;
    margin: 30px 10px;
}

.line-star-blu i {
    color: #21353f;
    font-size: 2em;
}

.sfondo {
    margin: 10px;
    max-width: 100%;
}

.sfondo img{
    max-width: 100%;
    border-radius: 20px;
}


.text-white {
    color: white;
    background-color: #09cd9d ;
    margin-top: 20px;
}

#start-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.p-about {
    margin: 10px;
}

#btn-download {
    width: 150px;
    margin: 20px auto;
    color: white;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

/* footer  */
footer {
    color: white;
    text-align: center;
    background-color: #326690;
    margin-top: 20px;
}

#social-bar {
    margin-top: 10px;
    display: flex;
    justify-content:space-evenly;
}

.sfera-social{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sfondo-footer-down {
    background-color: #21353f;
}

#copyr {
    margin: 30px 0;
}

#footer-row {
    padding: 40px 0;
}

#footer-row>div {
    margin: 20px 0;
}


/* navi */

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    align-items: flex-end;
}